.background {
  background-color: #0d70d496; /* Fondo azul como el cielo de Mario */
  padding: 20px;
  text-align: center;
}

.form-container {
  background-color: #eeb4b400; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.input-container {
  margin-bottom: 20px;
}

.genre-container {
  text-align: left;
  margin-top: 20px;
}

.genre-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.genre-label {
  display: flex;
  align-items: center;
  user-select: none; /* Evita la selección de texto al hacer clic */
}

/* Estilos para el botón y otros elementos del formulario */

/* Añade un estilo de animación para los géneros si lo deseas */
.genre-label:hover {
  transform: scale(1.1); /* Ejemplo de escala al pasar el mouse */
  transition: transform 0.3s ease;
}

.form-button {
  background-color: #FF0000; 
  color: #FFF;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.form-button:hover {
  background-color: #FF4500; /* Cambio de color al pasar el mouse */
}


input[type="text"],
input[type="number"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}







