/* body {
    background-image: url(../../img/3552-videojuegos.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    opacity: 0.3; /* Valor entre 0 (transparente) y 1 (opaco) */
  