.arcade-game {
  background-color: #ffcc00; 
  border: 2px solid #f00; 
  border-radius: 8px; 
  padding: 20px;
  margin: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  transition: transform 0.3s ease; 
}

.game-image {
  max-width: 25rem; 
  border-radius: 15px;
  height: auto;
  margin: 0 auto 20px;
  display: block;
}

.game-name {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 38px;
  cursor: pointer;
  transition: color 0.3s;
}

.arcade-game:hover {
  transform: translateY(10px) scale(1.05); 
}

.arcade-game:hover .game-name {
  color: #ff0000; 
  animation: bounce 0.5s infinite; 
}

.game-id {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 20px; 
  color: rgb(0, 0, 0); 
  margin-top: 0;
}

.game-details {
  margin-top: 10px;
}

.game-description {
  font-size: 25px;
  color: #000;
}

.arcade-game::before {
  content: ''; 
  font-size: 30px;
  margin-right: 10px;
}

.arcade-game::after {
  content: ''; 
  font-size: 30px;
  margin-left: 10px;
}

/* Estilos adicionales espec铆ficos de Mario Bros Arcade */
.arcade-game::before,
.arcade-game::after {
  font-size: 30px;
  transition: transform 0.3s ease; /* Agrega una transici贸n de transformaci贸n */
}

/* Cuando se hace hover en el componente, aplica la animaci贸n a los iconos */
.arcade-game:hover::before,
.arcade-game:hover::after {
  animation: bounce 0.5s ease infinite; /* Aplica la animaci贸n 'bounce' */
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px); /* Puedes ajustar la cantidad de rebote aqu铆 */
  }
  60% {
    transform: translateY(-5px); /* Puedes ajustar la cantidad de rebote aqu铆 */
  }
}


.game-platform,
.game-release-date,
.game-rating,
.game-genres {
  font-size: 16px;
  color: #000; 
}
